* {
    margin: 20px;
}


.pixels-page {
background-color: yellow;
}

.waterboy-page {
 background-color: coral;
}

.bigdaddy-page {
background-color: red;
}

.chuckandlarry-page {
background-color: pink;
}

.fiftyfirst-page {
background-color: darksalmon;
}

.billymadison-page {
background-color: cornflowerblue;
}

.grownups-page {
background-color: yellow;
}

.uncutgems-page {
background-color: black;
}

.happygilmore-page {
background-color: green;
}

.click-page {
background-color: blue;
}

.audio-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.audio {
  display: block;
  margin: 20px auto;
}

.poster-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;   
}
  
 .movie-poster {
  max-height: 100%;
  width: auto;
  max-width: 90vw;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;       
    background-color: aquamarine;    
  }
  
  .my-button {
    padding: 30px 40px;
    border-radius: 25px;    
    border: color;
    cursor: pointer;
    line-height: 1.5;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .my-button {
    display: inline-block;
    padding: 20px 32px;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
  
    transition:
      transform 0.15s ease,
      box-shadow 0.15s ease;
  }
  

  .my-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  }
  

  .my-button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);


    

    